﻿@model dynamic

@{
    ViewBag.Title = "Offline Mobile Test";
    Layout = "~/Views/_Layout.cshtml";
}

<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-btn navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i>
            </button>
            <span class="navbar-brand">Offline Mobile Test <small><heartbeat-monitor></heartbeat-monitor></small></span>
        </div>

        <div class="collapse navbar-collapse" id="main-nav">
            <ul class="nav navbar-nav">
                <li ui-sref-active="active"><a ui-sref="home">Home</a></li>
                <li ui-sref-active="active"><a ui-sref="clients">Clients</a></li>
                <li ui-sref-active="active"><a ui-sref="remote">Remote</a></li>
            </ul>
        </div>
    </div>
</nav>

<section ui-view-container>
    <section ui-view class="slide"></section>
</section>