﻿<h2>Update Client</h2>
<form ng-submit="save()">
    <div class="form-group">
        <label for="familyName">Family Name:</label>
        <input type="text" class="form-control" id="familyName" ng-model="client.FamilyName" />
    </div>
    <div class="form-group">
        <label for="givenNames">Given Names:</label>
        <input type="text" id="givenNames" class="form-control" ng-model="client.GivenNames" />
    </div>
    <div class="form-group">
        <label for="birthDate">Birth Date:</label>
        <input type="text" id="birthDate" class="form-control" ng-model="client.BirthDate" />
    </div>
    <h4>Residential Address:</h4>
    <div class="form-group">
        <label for="resAddress1">Address:</label>
        <input type="text" id="resAddress1" class="form-control" ng-model="client.ResidentialAddress.Address1" />
        <input type="text" id="resAddress2" class="form-control" ng-model="client.ResidentialAddress.Address2" />
    </div>
    <div class="form-group">
        <label for="resLocality">Locality:</label>
        <input type="text" id="resLocality" class="form-control" ng-model="client.ResidentialAddress.Locality" />
    </div>
    <div class="form-group">
        <label for="resState">State:</label>
        <select class="form-control" id="resState" ng-model="client.ResidentialAddress.State" ng-options="x.id as x.name for x in stateList">
            <option value="">(Select)</option>
        </select>
    </div>
    <div class="form-group">
        <label for="resPostcode">Postcode:</label>
        <input type="text" id="resPostcode" class="form-control" ng-model="client.ResidentialAddress.Postcode" />
    </div>
    <h4>Postal Address:</h4>
    <div class="form-group">
        <label for="posAddress1">Address:</label>
        <input type="text" id="posAddress1" class="form-control" ng-model="client.PostalAddress.Address1" />
        <input type="text" id="posAddress2" class="form-control" ng-model="client.PostalAddress.Address2" />
    </div>
    <div class="form-group">
        <label for="posLocality">Locality:</label>
        <input type="text" id="posLocality" class="form-control" ng-model="client.PostalAddress.Locality" />
    </div>
    <div class="form-group">
        <label for="posState">State:</label>
        <select class="form-control" id="posState" ng-model="client.PostalAddress.State" ng-options="x.id as x.name for x in stateList">
            <option value="">(Select)</option>
        </select>
    </div>
    <div class="form-group">
        <label for="posPostcode">Postcode:</label>
        <input type="text" id="posPostcode" class="form-control" ng-model="client.PostalAddress.Postcode" />
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-success">Save</button>
        <a ui-sref="clients.list" class="btn btn-default">Cancel</a>
    </div>
</form>