﻿<h2>Clients</h2>

<div ng-if="loading" class="alert alert-info"><i class="fa fa-spinner fa-spin"></i> Loading</div>

<div ng-if="!loading &amp;&amp; clients.length === 0" class="alert alert-warning">
    <i class="fa fa-info-circle"></i> There are no offline clients loaded currently. Go to the <a ui-sref="remote" class="alert-link">Remote</a> page to load some.
</div>

<section ng-if="!loading &amp;&amp; clients.length !== 0">
    <div class="list-group">
        <a ng-repeat="client in clients | orderBy:['FamilyName', 'GivenNames']" ui-sref="clients.update({id: client.Id})" ng-class="{'list-group-item': true, 'list-group-item-warning': client._Changed}">
            <i ng-if="client._Changed" class="fa fa-pencil text-warning"></i>
            {{ client.FamilyName + ', ' + client.GivenNames }}
            <i class="fa fa-chevron-right pull-right"></i>
        </a>
    </div>
</section>