﻿<h2>Remote Client</h2>
<p><a ui-sref="remote.list" class="btn btn-default"><i class="fa fa-caret-left"></i> Back</a>
</p>

<div ng-if="loading" class="alert alert-info"><i class="fa fa-spinner fa-spin"></i> Loading...</div>
<div ng-if="!loading">
    <h3>{{client.GivenNames + ' ' + client.FamilyName}}</h3>
    <div class="row">
        <div class="col-md-6">
            <h4>Local Status</h4>
            <dl class="dl-horizontal">
                <dt>Status:</dt>
                <dd>
                    <span ng-if="loaded" ng-class="{label:true,'label-primary':status==='Pending', 'label-success':status==='Loaded', 'label-warning':status==='Stale'}">{{status}}</span>
                    <span ng-if="!loaded" class="label label-default">Not Loaded</span>
                </dd>
                <dt>Remote Updated:</dt>
                <dd>{{client.Updated | date:'dd-MMM-yyyy hh:mm:ss'}}</dd>
            </dl>
            <dl class="dl-horizontal" ng-if="loaded">
                <dt>Local Updated:</dt>
                <dd>{{lclient.Updated | date:'dd-MMM-yyyy hh:mm:ss'}}</dd>
            </dl>
            <p>
                <div class="btn-group">
                    <button type="button" class="btn btn-default" ng-click="loadOffline()">Load for Offline</button>
                    <button type="button" class="btn btn-default" ng-disabled="!loaded" ng-click="unloadOffline()">Unload</button>
                    <button type="button" class="btn btn-default" ng-disabled="status !== 'Pending'" ng-click="syncRemote()">Sync with Remote</button>
                </div>
            </p>
        </div>
        <div class="col-md-6">
            <h4>Details</h4>
            <dl class="dl-horizontal">
                <dt>Family Name:</dt>
                <dd>{{client.FamilyName}}</dd>
                <dt>Given Names:</dt>
                <dd>{{client.GivenNames}}</dd>
                <dt>Birth Date:</dt>
                <dd>{{client.BirthDate | date:'dd-MMM-yyyy'}}</dd>
                <dt>Residential Address:</dt>
                <dd>
                    <address>
                        {{client.ResidentialAddress.Address1}}<br />
                        {{client.ResidentialAddress.Address2}}<br />
                        {{client.ResidentialAddress.Locality}}, {{client.ResidentialAddress.State}} {{client.ResidentialAddress.Postcode}}
                    </address>
                </dd>
                <dt>Postal Address:</dt>
                <dd>
                    <address>
                        {{client.PostalAddress.Address1}}<br />
                        {{client.PostalAddress.Address2}}<br />
                        {{client.PostalAddress.Locality}}, {{client.PostalAddress.State}} {{client.PostalAddress.Postcode}}
                    </address>
                </dd>
            </dl>
        </div>
    </div>
</div>