﻿<h2>Remote Clients</h2>

<p><button type="button" class="btn btn-default" ng-click="loadClients()"><i class="fa fa-refresh"></i> Refresh</button></p>

<div ng-if="loading" class="alert alert-info">
    <i class="fa fa-spinner fa-spin"></i> Loading...
</div>

<div ng-if="!loading &amp;&amp; error" class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{error}}</div>

<div ng-if="!loading &amp;&amp; clients.length == 0" class="alert alert-warning">There are no clients on the remote server.</div>

<div class="list-group" ng-if="!loading &amp;&amp; clients.length !== 0">
    <a ng-repeat="client in clients" ui-sref="remote.client({id: client.Id })" class="list-group-item">
        <i ng-if="client.LocalState !== 'none'" ng-class="{'fa':true, 'fa-cloud-upload': client.LocalState == 'pending', 'fa-exclamation-triangle': client.LocalState == 'stale', 'fa-check': client.LocalState == 'loaded'}"></i>
        {{ client.FamilyName + ', ' + client.GivenNames }}
        <i class="pull-right fa fa-chevron-right"></i>
    </a>
</div>
