﻿@using System.Web.Optimization
<!DOCTYPE html>

<html manifest="/Home/Manifest">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Offline Mobile Test</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/Scripts/core", "~/signalr/hubs", "~/app/application")
</head>
<body ng-app="OfflineApp">
<div class="container-fluid">
    @RenderBody()
</div>
</body>
</html>
